<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="public/js/lib/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="public/js/lib/mustache.js" charset="utf-8"></script>
    <script type="text/javascript" src="public/js/json2.js" charset="utf-8"></script>
    <link rel="stylesheet" href="public/css/global.css"></link>
  </head>
  <body>
