<!DOCTYPE html>
<html>
	<head>
		<title>Blog - Astral Dynamics</title>
		<link rel="stylesheet" href="css/global.css"></link>
	</head>
	<body>
		<div class="page">
			<div class="posts">


				{{range $current := .latest}}

				<div class="post" id="{{ $current.Id }}">
					<h2 class="title">{{ $current.Title}}</h2>
					<h5 class="date">{{ $current.Time}}</h5>
					<div class="body">{{ raw $current.Content}}</div>
				</div>

				{{end}}
			</div>
		</div>
		<script type="text/javascript" src="public/js/actions.js"></script>
	</body>	
</html>