<!DOCTYPE html>
<html>
	<head>
		<title>Write - Astral Dynamics</title>
		<link rel="stylesheet" href="css/global.css"></link>
	</head>
	<body>
		<div class="page">
			<div class="edit">
				<h2 id="title" class="req title" contentEditable="true">Post Title</h2>
				<h5 id="date" class="date">07.08.13</h5>
				<div class="body" contentEditable="true">
					<p>Post content</p>
				</div>
				<a href="#post" class="btn submit">Post</a>
			</div>
		</div>
		<!--Scripts-->
		<script type="text/javascript" src="js/lib/jquery-1.10.2.min.js"></script>
	</body>
</html>